html {
  background-color: #222;
  color: #eee;
}

body {
  margin: 1em;
}

#video-element {
  /* 16:9 */
  width: auto;
  height: calc(56.25vh - 1.125em);
}

#indicator > section {
  display: inline-block;
  margin-right: 20px;
  min-width: 16.9vw;
}

#indicator > section > span {
  font-size: 20pt;
  min-height: 32pt;
  display: block;
}

#control,
#control *,
#control-play-pause,
#control-playback-10,
#control-playback-25,
#control-playback-50,
#control-playback-100 {
  font-size: 16pt;
}

#control-set-sp,
#control-start-stop,
#control-play-pause {
  margin-right: 9vw;
}

#control-play-pause {
  padding: 30px 80px;
}

#control-playback-10,
#control-playback-25,
#control-playback-50,
#control-playback-100 {
  padding: 30px 40px;
}

#hidden {
  display: none;
}

#y,
#y * {
  font-size: 10pt;
}

#y span {
  display: inline-block;
  padding-right: 1px solid #888;
  padding-right: 20px;
  margin-right: 20px;
}
